name: Manual Build
on: [workflow_dispatch]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install zsh
        run: |
          sudo apt-get update
          sudo apt-get install -y zsh
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven
      - name: Build
        run: ./mvnw -B clean verify
      - name: Run Tests
        run: ./pipeliner tests/all.yaml
      - name: Run Examples
        run: ./pipeliner examples/all.yaml
